[Unit]
Description=CSYE 6225 WebApp
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/opt/venv/bin/python /opt/csye6225/webapp/app.py
EnvironmentFile=/etc/environment
Environment="PATH=/opt/venv/bin:$PATH"
Restart=always
RestartSec=3
StandardOutput=append:/var/log/csye6225.log
StandardError=append:/var/log/csye6225.log
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target